﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hellocomputer Portal</title>
    
    @Styles.Render("~/Styles/css")
    @Styles.Render("~/Styles/dataTables")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jQuerydataTables")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dataTables")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="height:75px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/home/index" class="navbar-brand"><img src="~/Content/images/FCB-Logo-223-90.png" height="50" alt="Wes you kick ass!" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://chase.draftfcb.co.za/chasemesh/layout.aspx" target="_blank">Chase</a></li>
                    <li><a href="http://jira.fcb.co.za:8080/secure/Dashboard.jspa" target="_blank">JIRA</a></li>
                    <li><a href="http://confluence/login.action?os_destination=%2Fhomepage.action" target="_blank"> Confluence</a></li>
                    <li><a href="http://172.16.1.217/ess/" target="_blank">ESS</a></li>
                    <li><a href="http://www.google.com" target="_blank">Google</a></li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()
    <hr>
        <footer>
            <p>&copy; @DateTime.Now.Year - Hellocomputer Portal</p>
        </footer>

<!-- Preloader start -->
<div class="preloader-anim hidden" id="preloader">
    <img src="~/Content/images/loader.gif" alt="Loading" class="preloader-img"/>
</div>
<!-- Preloader end -->


    @Scripts.Render("~/bundles/allPages")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
