﻿@model HelloComputerChaseReportTool.Models.ChaseDataViewModel

@{
    ViewBag.Title = "Results";
}

<section class="container-fluid top-buffer">
    <header>
        <h1 id="reportHeading"></h1>
    </header>
    <!-- end report header -->
       <article>
        <hr>
        <div class="table-responsive" id="data-results">
          <table class="table table-striped table-bordered report-table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th id="reportBtn" onclick="viewData();" class="green">Row Labels +</th>
                <th>Campaign</th>
                <th>WorkType</th>
                <th>Estimated Hours</th>
                <th>Estimated Amount</th>
                <th>Actual Hours</th>
                <th>Actual Amount</th>
                <th>Hour Variance</th>
              </tr>
            </thead>
            <!-- end report data headers -->
            <tfoot>
              <tr>
                <th>Grand Total</th>
                <th></th>
                <th></th>
                <th id="estHours">Estimated Hours</th>
                <th id="estAmount">Estimated Amount</th>
                <th id="actHours">Actual Hours</th>
                <th id="actAmount">Actual Amount</th>
                <th id="hourVariance">Hour Variance</th>
              </tr>
            </tfoot>
            <tbody id="dataBody">
                
            </tbody>
            <!-- end report body -->
          </table>
        </div>
        <!-- end table responsive div -->
      </article>
      <!-- end article -->
</section>
<!-- end results section -->

@section Scripts {
    @Scripts.Render("~/bundles/HCDataSearch")
}

<script type="text/javascript">

    /****************************************************
        Save and manipulate data
    ****************************************************/
   
    // Encode the JSON to make it usable
    var jsonData = @Html.Raw(Json.Encode(Model));
    
   // console.log(jsonData); // For testing purposes

    // Populate totals info
    $("#estHours").html(Math.round(jsonData.TotalEstHours));
    $("#estAmount").html(Math.round(jsonData.TotalEstAmount));
    $("#actHours").html(Math.round(jsonData.TotalActualHours));
    $("#actAmount").html(Math.round(jsonData.TotalActualAmount));
    $("#hourVariance").html(Math.round(jsonData.TotalHourVariance));
    
    // Give the report a heading
    $("#reportHeading").html("Report");
    
    // Save job data
    var jobData = jsonData.JobData;

    /****************************************************
         Populate rows with report info
    ****************************************************/
    
    // Set this so we know whats in the dataBody from the start as various browsers might assume different HTML
    $("#dataBody").html(""); // It's a hack so don't think about it too much
 
    // Fucntion to dteremine what to do when report is opened or closed
    function viewData(){
        
        // Whats in dataBody?
        var _whatsInBody = $("#dataBody").html();

        // Should we populate? Only if the body is empty
        if(_whatsInBody==""){
            // Set data
            populateRows();
            $("#reportBtn").removeClass("green");
            $("#reportBtn").addClass("red");
            $("#reportBtn").html("Row Labels -");
        } else {
            deleteRows();
            $("#reportBtn").addClass("green");
            $("#reportBtn").removeClass("red");
            $("#reportBtn").html("Row Labels +");
        }
    }

    /****************************************************
         Populate rows with report info
    ****************************************************/

    // Method to populate the data rows
    function populateRows(){
   
        // Setup a some vars
        var key, count = 0;

        // Loop through the data
        for(key in jobData) {
            if(jobData.hasOwnProperty(key)) {
            
                // Append the data into the table
                $("#dataBody").append("<tr><td>" + jobData[count].Client + "</td><td>" + jobData[count].Campaign + "</td><td>" + jobData[count].WorkType + "</td><td>" + Math.round(jobData[count].EstHours) + "</td><td>" + Math.round(jobData[count].EstAmount) + "</td><td>" + Math.round(jobData[count].ActHours) + "</td><td>" + Math.round(jobData[count].ActAmount) + "</td><td>" + Math.round(jobData[count].Variance) + "</td></tr>");
            
                // Count +1
                count++;
            }
        }  
    }
    
    //populateRows(); // for testing purposes

    /****************************************************
         Delete rows
    ****************************************************/

    function deleteRows(){
        $("#dataBody").html("");
    }

    //  Setup those fab pagination bits that Wesley is going to love
    //$('#data-list').dataTable(); // Not required just yet and would need tweaking to work as is

</script>
