body {
  font-family: 'bryantmedium', 'Open Sans', sans-serif;
  background-color: #fff;
  /* padding-top: 50px; */
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
.top-buffer {
  margin-top: 100px;
}
.navbar-collapse {
  padding-top: 15px;
}
/***************************************
	Preloader
***************************************/
.preloader-anim {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5000;
  background: 10% #fff;
  top: 0;
  left: 0;
  -moz-opacity: 0.9;
  -webkit-opacity: 0.9;
  opacity: 0.9;
  text-align: center;
}
.preloader-anim img {
  margin-top: 100px;
}
.hidden {
  display: none;
}
