.hp-main-content {
  margin-top: 160px;
}
.hp-searchbox {
  border: 1px solid #e1e1e1;
  font-size: 16px;
  width: 550px;
  padding: 8px 18px;
  margin: 25px 0;
}
.hp-searchbox:hover {
  border: 1px solid #777;
}
.hp-search-btn {
  color: #808080;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  padding: 8px 25px;
  font-weight: bold;
}
.hp-search-btn:hover {
  border: 1px solid #888;
  color: #000;
}
/**********************************
    Bootstrap Override
**********************************/
.navbar-inverse {
  height: 75px;
}

