.results-table {
    tr { /* Style the rows */
        &:hover {
            cursor:pointer;
            background-color:#f5f5f5 !important;
        }
    }
}

    .table-responsive {
        overflow-x:hidden;
    }
