.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.hp-main-content {
  margin-top: 160px;
}
.hp-searchbox {
  border: 1px solid #e1e1e1;
  font-size: 16px;
  width: 550px;
  padding: 8px 18px;
  margin: 25px 0;
}
.hp-searchbox:hover {
  border: 1px solid #777;
}
.hp-search-btn {
  color: #808080;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  padding: 8px 25px;
  font-weight: bold;
}
.hp-search-btn:hover {
  border: 1px solid #888;
  color: #000;
}
/**********************************
    Bootstrap Override
**********************************/
.navbar-inverse {
  height: 75px;
}
.results-table tr {
  /* Style the rows */
}
.results-table tr:hover {
  cursor: pointer;
  background-color: #f5f5f5 !important;
}
.table-responsive {
  overflow-x: hidden;
}
.report-table .green {
  color: green;
}
.report-table .red {
  color: red;
}

